.App{
    font-family: sans-serif;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

/* sizing of map container*/
.leaflet-container {
  height: 100vh;
}

.cluster-icon {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 1.3rem;
}