/* Nav.css */
.nav-links {
  color: white;
}

@media (max-width: 767px) {
  /* Style untuk mode mobile */
  .navbar-items {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  /* Style untuk mode desktop */
  .navbar-items {
    display: flex;
    flex-direction: row;
  }

  .justify-content-end {
    justify-content: flex-end; /* Mengatur agar item-navbar rata kanan pada tampilan desktop */
  }
}

/* Gaya untuk mengubah warna caret menjadi transparan */
.avatar-icon::after {
  border-top-color: transparent;
}

.no-caret::after {
  display: none !important;
}

/* Gaya untuk mengubah ukuran lingkaran avatar */
#avatar-dropdown {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

