@import "https://fonts.googleapis.com/css?family=Abyssinica+SIL:regular";
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --grayText: #909090;
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
.custom-container {
  position: relative;
  margin-top: 70px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bgColor);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
::-webkit-scrollbar {
  display: none;
}

.sideBar {
    background-color: var(--whiteColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 18%;
    height: 100%;
    overflow: auto;
    gap: rem;
  }
  /* .logoDiv {
    padding: 1.5rem 1.5rem 0;
    cursor: pointer;
  }
  .logoDiv img {
    max-width: 20px;
    margin-right: 0.5rem;
    border-radius: 2px;
    padding: 0.2rem;
  } */
  .logoDiv h2 {
    font-size: var(--h2FontSize);
    color: var(--PrimaryColor);
  }
  .menuDiv .smallText,
  .settingDiv .smallText {
    white-space: auto;
  }
  .menuDiv .divTitle,
  .settingDiv .divTitle {
    font-size: var(--h3FontSize);
    color: var(--blackColor);
    padding: 0 1.5rem 1.5rem;
  }
  .menuDiv .menuLists .listItem,
  .settingDiv .menuLists .listItem {
    padding: 0.2rem 0.5rem;
    width: 100%;
    position: relative;
  }
  .menuDiv .menuLists .listItem::before,
  .settingDiv .menuLists .listItem::before {
    position: absolute;
    content: "";
    height: 0%;
    left: 0;
    width: 5px;
    bottom: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--PrimaryColor);
  }
  .menuDiv .menuLists .listItem .menuLink,
  .settingDiv .menuLists .listItem .menuLink {
    color: var(--grayText);
    font-weight: 500;
    transition: 0;
  }
  .menuDiv .menuLists .listItem .menuLink .icon,
  .settingDiv .menuLists .listItem .menuLink .icon {
    margin-right: 1rem;
  }
  .menuDiv .menuLists .listItem:hover .menuLink,
  .settingDiv .menuLists .listItem:hover .menuLink {
    color: var(--PrimaryColor);
    transition: 0;
  }
  .menuDiv .menuLists .listItem:hover::before,
  .settingDiv .menuLists .listItem:hover::before {
    height: 100%;
    transition: 0.5s ease;
  }
  .menuDiv .menuLists .listItem.active::before,
  .settingDiv .menuLists .listItem.active::before {
    height: 100%;
  }
    .sideBarCard {
      width: 100%;
      padding: 1rem;
      text-align: center;
      position: relative;
    }
    .sideBarCard .circle {
      position: absolute;
      border: 10px solid var(--whiteColor);
      border-radius: 50%;
      top: -20px;
      right: 50%;
      transform: translate(50%);
      z-index: 100;
      background-color: var(--HoverColor);
    }
    .sideBarCard .circle .icon {
      font-size: 3rem;
    }
    .sideBarCard .circle b:nth-child(1) {
      position: absolute;
      top: 25px;
      left: -20px;
      height: 24px;
      width: 15px;
      background: rgba(0, 0, 0, 0);
    }
    .sideBarCard .circle b:nth-child(1)::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      border-top-right-radius: 10px;
      background-color: var(--HoverColor);
    }
    .sideBarCard .circle b:nth-child(2) {
      position: absolute;
      top: 25px;
      right: -20px;
      height: 24px;
      width: 15px;
      background: rgba(0, 0, 0, 0);
    }
    .sideBarCard .circle b:nth-child(2)::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      width: 100%;
      height: 100%;
      border-top-left-radius: 10px;
      background-color: var(--HoverColor);
    }
  .sideBarCard .cardContent {
    position: relative;
    padding: 1rem;
    background-color: var(--HoverColor);
    border-radius: 10px;
    overflow: hidden;
  }
  .sideBarCard h3 {
    font-size: var(--h3FontSize);
    margin-top: 1rem;
    padding: 1rem 0;
    font-weight: 800;
    color: var(--blackColor);
  }
  .sideBarCard p {
    font-size: var(--normalFontSize);
    color: var(--textColor);
    padding-bottom: 1rem;
    font-weight: 500;
  }
  .sideBarCard .btn {
    position: relative;
    color: var(--textColor);
    z-index: 1000;
  }
  .sideBarCard .circle1,
  .sideBarCard .circle2 {
    position: absolute;
    background-color: var(--paleGreen);
    border-radius: 50%;
    opacity: 0.7;
  }
  .sideBarCard .circle1 {
    height: 100px;
    width: 100px;
    top: -50px;
    left: -50px;
  }
  .sideBarCard .circle2 {
    height: 100px;
    width: 100px;
    bottom: -50px;
    right: -50px;
    z-index: 1;
  }

  /* resposive sidebar */
@media screen and (max-width: 992px) {
  .sideBar {
    padding-bottom: 2rem;
  }
  .sideBar .sideBarCard {
    display: none !important;
  }
}

@media screen and (max-width: 745px) {
  .sideBar .logoDiv {
    text-align: center;
    margin: auto;
    padding: 1.5rem 0.5rem 0;
  }
  .sideBar .logoDiv img {
    max-width: 100%;
    margin: 0;
    border-radius: 10px;
    padding: 0.5rem;
  }
  .sideBar .logoDiv h2 {
    display: none;
  }
  .menuDiv .divTitle,
  .menuDiv .smallText,
  .settingDiv .divTitle,
  .settingDiv .smallText {
    display: none;
  }
  .menuDiv .menuLists .listItem .menuLink,
  .settingDiv .menuLists .listItem .menuLink {
    justify-content: center;
  }
  .menuDiv .menuLists .listItem .menuLink .icon,
  .settingDiv .menuLists .listItem .menuLink .icon {
    font-size: var(--h1FontSize);
  }
}

/*# sourceMappingURL=sidebar.css.map */
  